{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-contianer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h2 class="page-heading">Shopping Bag</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                            <tr>
                              <th class="minwidth">Product</th>
                              <th>Type</th>
                              <th>Price</th>
                              <th class="minwidth">Quantity</th>
                              <th>Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- for each product in bag create a new row -->
                            {% for item in bag_items %}
                            <tr>
                              <td class="w20">
                                <p>Name: {{ item.product.name }}</p>
                                {% if item.product.image %}
                                <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                {% else %}
                                <img class="img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ item.product.name }}">
                                {% endif %}
                              </td>
                              <td>{{ item.type }}</td>
                              <td>£{{ item.product.price }}</td>
                              <td class="w20">
                                  <!-- allow users to update the quantity -->
                                  {% if item.type == "one-off" %}
                                  Current quantity: {{ item.quantity }}
                                    <form class="form update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="input-field">
                                            <label>Update quantity</label>
                                            <select name="type-quantity" >
                                            <optgroup label="one-off">
                                                <option {%if item.quantity == 1 %} selected {% endif %} value="1">1</option>
                                                <option {%if item.quantity == 2 %} selected {% endif %} value="2">2</option>
                                                <option {%if item.quantity == 3 %} selected {% endif %} value="3">3</option>
                                                <option {%if item.quantity == 4 %} selected {% endif %} value="4">4</option>
                                                <option {%if item.quantity == 5 %} selected {% endif %} value="5">5</option>
                                                <option {%if item.quantity == 6 %} selected {% endif %} value="6">6</option>
                                                <option {%if item.quantity == 7 %} selected {% endif %} value="7">7</option>
                                                <option {%if item.quantity == 8 %} selected {% endif %} value="8">8</option>
                                                <option {%if item.quantity == 9 %} selected {% endif %} value="9">9</option>
                                                <option {%if item.quantity == 10 %} selected {% endif %} value="10">10</option>
                                            </optgroup>
                                            </select>
                                        </div>
                                        <!-- <input type="hidden" name="redirect_url" value="{{ request.path }}"> -->
                                    </form>
                                    <!-- cancel update -->
                                    <a class="no-update-link text-info" href="{% url 'view_bag' %}"><small>Cancel update</small></a>
                                    <!-- update quantity -->
                                    <a class="update-link text-success"><small>Update</small></a>
                                  <!-- dont allow users to update quantity for subscription items, they can only delete these -->
                                  {% else %}
                                    {{ item.quantity }}
                                  {% endif %}
                                  <!-- remove item -->
                                  <a class="remove-item text-danger" id="remove_{{ item.item_id }}" data-type="{{ item.type }}"><small>Remove Item</small></a>
                              </td>
                              <td>£{{ item.subtotal }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- shipping info -->
                    <div class="col-12 shipping-info">
                        <p>Pre-shipping total: £{{ total }}</p>
                        <p>Shipping: £{{ delivery }}</p>
                        <p>Total: £{{ grand_total }}</p>
                    </div>
                    <!-- back to products or checkout -->
                    <div class="col-12">
                        <a href="{% url 'products' %}"><button type="button" class="back-to-products text-uppercase">Back to products</button></a>
                        <a href="{% url 'checkout' %}"><button type="button" class="checkout text-uppercase">Checkout</button></a>
                    </div>
                    </div>
                {% else %}
                    <p>Your bag is empty, please add some items.</p>
                    <a href="{% url 'products' %}"><button type="button" class="back-to-products text-uppercase">Back to products</button></a>
                {% endif %}
            </div>
        </div>

     </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev().prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var type = $(this).data('type');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'type': type};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}