{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-contianer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h2 class="page-heading">Shopping Bag</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table>
                            <thead>
                            <tr>
                              <th>Product Name</th>
                              <th>Type</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- for each product in bag create a new row -->
                            {% for item in bag_items %}
                            <tr>
                              <td>{{ item.product.name }}</td>
                              <td>{{ item.type }}</td>
                              <td>£{{ item.product.price }}</td>
                              <td>{{ item.quantity }}</td>
                              <td>£{{ item.subtotal }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <p>Pre-shipping total: £{{ total }}</p>
                    <p>Shipping: £{{ delivery }}</p>
                    <p>Total: £{{ grand_total }}</p>

                {% else %}
                    <p>Your bag is empty, please add some items.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Back to products</span>
                    </a>
                {% endif %}
            </div>
        </div>

     </div>

{% endblock %}
