{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-contianer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- see products link -->
    <div class="container-fluid text-center bg-black see-products-banner">
        <a href="" class="see-products-button btn btn-ls rounded-0 text-uppercase py-3 text-white">See our products here!</a>    
    </div>
    
    <!-- photos section -->
    <div id="photos">
        <section id="photo-section">
            <img src="http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/girls.jpg">
            <img src="http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/man.jpg">
            <img src="http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/runner1.jpg"> 
            <img src="http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/runner2.jpg">
            <img src="http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/runner3.jpg">
            <img src="http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/athletes.jpg">
            <img src="http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/running_gang.jpg">
            <img src="http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/runner1.jpg"> 
            <img src="http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/runner2.jpg">
            <img src="http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/runner3.jpg">
        </section> 
    </div>
    

{% endblock %}
