{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-contianer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- see products link -->
    <div class="container-fluid text-center bg-black see-products-banner">
        <a href="{% url 'products' %}" class="see-products-button btn btn-ls rounded-0 text-uppercase py-3">See our products here!</a>    
    </div>
    
    <!-- photos section -->
    <div class="container-fluid" id="photos">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0">
                <img src="{{ MEDIA_URL }}home-chocolate.jpg" alt="Chocolate">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0">
                <img src="{{ MEDIA_URL }}home-hot-chocolate.jpg" alt="Hot chocolate">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0">
                <img src="{{ MEDIA_URL }}home-tea.jpg" alt="Tea">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0">
                <img src="{{ MEDIA_URL }}home-coffee.jpg" alt="Coffee">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0">
                <img src="{{ MEDIA_URL }}white-chocolate-1.jpg" alt="White chocolate">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0">
                <img src="{{ MEDIA_URL }}classic-hot-chocolate-1.jpg" alt="Hot chocolate">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0">
                <img src="{{ MEDIA_URL }}berry-tea.jpg" alt="Tea">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0">
                <img src="{{ MEDIA_URL }}medium-coffee-1.jpg" alt="Coffee">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0">
                <img src="{{ MEDIA_URL }}dark-chocolate-1.jpg" alt="Chocolate">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0">
                <img src="{{ MEDIA_URL }}chilli-hot-chocolate-1.jpg" alt="Hot chocolate">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0">
                <img src="{{ MEDIA_URL }}white-chocolate-tea.jpg" alt="Tea">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-0">
                <img src="{{ MEDIA_URL }}dark-coffee-1.jpg" alt="Coffee">
            </div>
        </div>
    </div>

{% endblock %}
