{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-contianer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- see products link -->
    <div class="container-fluid text-center bg-black see-products-banner">
        <a href="{% url 'products' %}" class="see-products-button btn btn-ls rounded-0 text-uppercase py-3">See our products here!</a>    
    </div>
    
    <!-- photos section -->
    <div id="photos">
        <section id="photo-section">
            <img src="{{ url_for('media', filename='home-chocolate.jpg') }}" alt="Chocolate">
            <img src="media/home-chocolate.jpg" alt="Chocolate">
            <img src="media/home-hot-chocolate.jpg" alt="Hot chocolate">
            <img src="media/home-tea.jpg" alt="Tea">
            <img src="media/home-coffee.jpg" alt="Coffee">
            <!-- repeats below, add in unique photos -->
            <img src="media/home-chocolate.jpg" alt="Chocolate">
            <img src="media/home-hot-chocolate.jpg" alt="Hot chocolate">
            <img src="media/home-tea.jpg" alt="Tea">
            <img src="media/home-coffee.jpg" alt="Coffee">
            <img src="media/home-chocolate.jpg" alt="Chocolate">
            <img src="media/home-hot-chocolate.jpg" alt="Hot chocolate">
            <img src="media/home-tea.jpg" alt="Tea">
            <img src="media/home-coffee.jpg" alt="Coffee">
        </section> 
    </div>
    

{% endblock %}
