{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="page-heading">My Profile</h2>
                <h3 class="username">Username: {{ profile }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <!-- Defult delivery information -->
                <h4 class="text-muted">Default Delivery Information</h4>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="update-profile text-uppercase">Update Information</button>
                </form>
                <!-- Show users reviews they made -->
                <h4 class="text-muted">My Reviews</h4>
                {% if user_reviews %}
                <div class="my-reviews table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Review</th>
                                <th>Added/updated on</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for userreview in user_reviews %}
                                <tr>
                                    <td>{{ userreview.product }}</td>
                                    <td>{{ userreview.review|truncatechars:20 }}</td>
                                    <td>{{ userreview.date_updated }}</td>
                                    <td><a href="{% url 'edit_review' userreview.id %}"><button class="edit1" type="button">Edit</button></a></td>
                                    <td><a href="{% url 'delete_review' userreview.id %}"><button class="del1" type="button">Delete</button></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <!-- allow signed in users to add a review -->
                You have not made any reviews yet, go to a product to add a review and help other users!  
                {% endif %}    
                <!-- Show users ratings they have made -->
                <h4 class="text-muted">My Ratings</h4>
                {% if user_ratings %}
                <div class="my-ratings table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Rating</th>
                                <th>Added/updated on</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for userrating in user_ratings %}
                                <tr>
                                    <td>{{ userrating.product }}</td>
                                    <td>{{ userrating.rating|truncatechars:20 }}</td>
                                    <td>{{ userrating.date_updated }}</td>
                                    <td><a href="{% url 'edit_rating' userrating.id %}"><button class="edit1" type="button">Edit</button></a></td>
                                    <td><a href="{% url 'delete_rating' userrating.id %}"><button class="del1" type="button">Delete</button></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <!-- allow signed in users to add a rating -->
                You have not made any ratings yet, go to a product to add a rating and help other users!  
                {% endif %}  
            </div>
            <div class="col-12 col-lg-6">
                <h4 class="text-muted">Order History</h4>
                {% if orders %}
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product_type == "one-off" %}
                                                        Item: <a href="{% url 'product_detail' item.product.id %}" target="_blank">{{ item.product.name }}</a> (x{{ item.quantity }})
                                                    {% else %}
                                                        Item: <a href="{% url 'product_detail' item.product.id %}" target="_blank">{{ item.product.name }}</a> (Monthly Subscription)
                                                    {% endif %}
                                                    <br>
                                                    <a class="add-again1" id="addagain_{{ item.product.id }}" data-type="{{ item.product_type }},{{ item.quantity }}"><button class="add-again">Add product again</button></a>
                                                </li>
                                                <br>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
                {% else %}
                Currently you have not made any orders.
                {% endif %}  
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>

    <script type="text/javascript">
        // Add again on click
        $('.add-again1').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('addagain_')[1];
            var product_type = $(this).data('type').split(',')[0];
            var quantity = $(this).data('type').split(',')[1];
            var url = `/bag/add_again/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_type': product_type, 'quantity': quantity};

            $.post(url, data)
                .done(function() {
                    location.reload();
                });
        })

    </script>

{% endblock %}

