{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="page-heading">My Profile</h2>
                <h3 class="username">Username: {{ profile }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h4 class="text-muted">Default Delivery Information</h4>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="update-profile text-uppercase">Update Information</button>
                </form>
                <h4 class="text-muted">Products on Subscription</h4>
                <div class="subscribed-products table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Item(s)</th>
                                <th>Start Date</th>
                                <th>Order Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                {% for item in order.lineitems.all %}
                                    {% if item.product_type == "subscribe-monthly" %}
                                    <tr>
                                        <td>
                                            <ul class="list-unstyled">
                                                    <li class="small">
                                                        <a href="{% url 'product_detail' item.product.id %}" target="_blank">{{ item.product.name }}</a>
                                                    </li>
                                                    <br>
                                            </ul>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>  
                <!-- Show users reviews they made -->
                <h4 class="text-muted">My Reviews</h4>
                <div class="user-reviews">
                    {% if any_reviews %}
                        {% for userreview in user_reviews %}
                        <p class="mb-0">Product Name: {{ userreview.product }}</p>
                        <p class="mb-0">Review: {{ userreview.review }}</p>
                        <p class="mb-0">Added/updated on: {{ userreview.date }}</p>
                        <p class="mb-0">Edit Review</p>
                        <p>Delete review</p>
                        {% endfor %}
                    {% else %}
                    <!-- allow signed in users to add a review -->
                    You have not made any reviews yet, go to a product to add a review and help other users!  
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h4 class="text-muted">Order History</h4>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product_type == "one-off" %}
                                                        Item: <a href="{% url 'product_detail' item.product.id %}" target="_blank">{{ item.product.name }}</a> (x{{ item.quantity }})
                                                    {% else %}
                                                        Item: <a href="{% url 'product_detail' item.product.id %}" target="_blank">{{ item.product.name }}</a> (Monthly Subscription)
                                                    {% endif %}
                                                    <br>
                                                    <a class="add-again1" id="addagain_{{ item.product.id }}" data-type="{{ item.product_type }},{{ item.quantity }}"><button class="add-again">Add product again</button></a>
                                                </li>
                                                <br>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>

    <script type="text/javascript">
        // Add again on click
        $('.add-again1').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('addagain_')[1];
            var product_type = $(this).data('type').split(',')[0];
            var quantity = $(this).data('type').split(',')[1];
            var url = `/bag/add_again/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_type': product_type, 'quantity': quantity};

            $.post(url, data)
                .done(function() {
                    location.reload();
                });
        })

    </script>

{% endblock %}

