/* general css */
html {
    height: 100%;
}

body {
    font-family: "Lato";
    color: #424242;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

/* navbar */

#topnav {
    background: mediumpurple;
    border-bottom: 5px solid black;
}

#delivery-banner {
    color: mediumpurple;
}

.mobile-search {
    background: mediumpurple;
    padding: 1rem;
}

.navbar-expand-lg {
    background: white;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}


.btn-black:hover {
    background: #222;
    color: white;
}

.text-success1 {
    color: #70DB93;
}

.text-success1:hover {
    color: #70DB93;
}

/* home page */

.see-products-banner {
    position: relative;
    top: 0;
    left: 0;
}

.see-products-banner1 {
    background-color: rgb(1,1,1, 0.8);
    position: fixed;
}

.see-products-banner a {
    color: mediumpurple;
}

.see-products-banner a:hover {
    color: #70DB93;
}

#photos img {
    width: 100%;
}

/* register, login and logout */

.register1, .login1, .reset1 {
    background: mediumpurple;
    border: 2px solid black;
    color: black;
    padding: 2px 0.5rem;
}

.register1:hover, .login1:hover, .reset1:hover {
    background: black;
    border: 2px solid mediumpurple;
    color: mediumpurple;
}

.logout-yes {
    background: #70DB93;
    border: 2px solid black;
    color: black;
    padding: 2px 0.5rem;
}

.logout-no {
    background: #DB9370;
    border: 2px solid black;
    color: black;
    padding: 2px 0.5rem;
}

.logout-yes:hover {
    background: black;
    border: 2px solid #70DB93;
    color: #70DB93;
}

.logout-no:hover {
    background: black;
    border: 2px solid #DB9370;
    color: #DB9370;
}

/* toasts messages */

.message-container {
    position: fixed;
    top: 170px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* products page */
.page-heading {
    text-align: center;
    text-transform: uppercase;
    margin: 0.5rem;
}

.category-badge {
    border: 2px solid black;
    background: mediumpurple;
    color: black;
    margin: 0.5rem;
    padding: 2px 0.5rem;
}

.category-badge:hover {
    color: black;
}

.num-results {
    padding-left: 0.5rem;
}

#sort-selector {
    /* float: right; */
    border: 1px solid black;
}

.products-col {
    padding: 12px;
}

.card {
    border: 2px solid black;
    height: 100%;
}

.card-content {
    padding: 0.5rem;
}

.card-image {
    text-align: center;
}

.card-title1 {
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: mediumpurple;
}

.card-title1:hover {
    color: #70DB93;
}

.card-image img {
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.card-image a {
    text-decoration: none;
}

.add-now {
    text-align: center;
    width: 100%;
    padding: 2px 0.5rem;
    background: mediumpurple;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
}

.add-now:hover {
    background: black;
    border: 2px solid mediumpurple;
    color: mediumpurple;
}

.card-action .edit, .card-action .del {
    display: inline-block;
    width: 49.95%;
}

.card-action .del {
    float: right;
}

.card-action .edit1, .card-action .del1 {
    width: 100%;
}

.edit1 {
    background: #70DB93;
    border-top: 2px solid black;
    border-left: 2px solid black;
    color: black;
}

.del1 {
    background: #DB9370;
    border-top: 2px solid black;
    border-right: 2px solid black;
    color: black;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: mediumpurple;
}

/* products - back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: mediumpurple;
}

.btt-link{
    cursor: pointer;
    text-decoration: none;
}

/* bag */

.remove-item, .update-link {
    cursor: pointer;
}

/* Media queries */

/* Slightly larger container on xl screens */
/* @media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
} */

/* fixed top navbar only on medium and up */
/* @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
} */

/* extra large per bootstrap sizing */
/* @media screen and (min-width: 1200px) {
  
} */

/* large per bootstrap sizing */
/* @media screen and (min-width: 992px) {
    
} */

/* medium per bootstrap sizing */
@media screen and (max-width: 991px) {
  
    .navbar-expand-lg {
        background: mediumpurple;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .navbar-toggler {
        margin-left: 1rem;
    }

    .navbar-expand-lg ul {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .navbar-collapse {
        background: white;
        padding-left: 1rem;
        padding-right: 1rem;
    }
  
}  

/* small and extra small per bootstrap sizing */
/* @media screen and (max-width: 765px) {
  
    #sort-selector {
        float: left;
    }

} */

/* very small per bootstrap sizing */
/* @media screen and (max-width: 575px) {
  
} */


  