/* general css */
html {
    height: 100%;
}

body {
    font-family: "Lato";
    color: #424242;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

/* navbar */

#topnav {
    background: mediumpurple;
    border-bottom: 5px solid black;
}

#delivery-banner, .see-products-banner a {
    color: mediumpurple;
}

.mobile-search {
    background: mediumpurple;
    padding: 1rem;
}

.navbar-expand-lg {
    background: white;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.see-products-banner {
    margin-top: 10px;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* home page */
#photos {
    margin-top: 10px;
}
  
#photos img {
    width: 100%;
}

/* toasts messages */

.message-container {
    position: fixed;
    top: 170px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* products page */
.page-heading {
    text-align: center;
    text-transform: uppercase;
    margin: 0.5rem;
}

.category-badge {
    border: 1px solid black;
    color: black;
    margin: 0.5rem;
    padding: 2px;
}

.category-badge:hover {
    border: 1px solid black;
    background: mediumpurple;
    color: black;
}

.products-col {
    padding: 12px;
}

.card {
    border: 1px solid black;
    padding: 0.5rem;
    height: 100%;
}

.card-title1 {
    margin-bottom: 1rem;
    font-weight: bold;
    text-decoration: underline;
}

.card-image img {
    width: 100%;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: mediumpurple;
}

.btt-link{
    cursor: pointer;
}

/* bag */

.remove-item, .update-link {
    cursor: pointer;
}

/* Media queries */

/* Slightly larger container on xl screens */
/* @media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
} */

/* fixed top navbar only on medium and up */
/* @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
} */

/* extra large per bootstrap sizing */
/* @media screen and (min-width: 1200px) {
  
} */

/* large per bootstrap sizing */
/* @media screen and (min-width: 992px) {
  
} */

/* medium per bootstrap sizing */
@media screen and (max-width: 991px) {
  
    .navbar-expand-lg {
        background: mediumpurple;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .navbar-toggler {
        margin-left: 1rem;
    }

    .navbar-expand-lg ul {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .navbar-collapse {
        background: white;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
  
}  

/* small and extra small per bootstrap sizing */
/* @media screen and (max-width: 765px) {
  
} */

/* very small per bootstrap sizing */
/* @media screen and (max-width: 575px) {
  
} */


  