<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="chocolate-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chocolate
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="chocolate-link">
                <a href="{% url 'products' %}?category=milk_chocolate" class="dropdown-item">Milk</a>
                <a href="{% url 'products' %}?category=dark_chocolate" class="dropdown-item">Dark</a>
                <a href="{% url 'products' %}?category=white_chocolate" class="dropdown-item">White</a>
                <a href="{% url 'products' %}?category=milk_chocolate,dark_chocolate,white_chocolate" class="dropdown-item">All Chocolate</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hot-chocolate-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hot Chocolate
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hot-chocolate-link">
                <a href="{% url 'products' %}?category=classic_hot_chocolate" class="dropdown-item">Classic</a>
                <a href="{% url 'products' %}?category=nutty_hot_chocolate" class="dropdown-item">Nutty</a>
                <a href="{% url 'products' %}?category=other_hot_chocolate" class="dropdown-item">Other</a>
                <a href="{% url 'products' %}?category=classic_hot_chocolate,nutty_hot_chocolate,other_hot_chocolate" class="dropdown-item">All Hot Chocolate</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="tea-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tea
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tea-link">
                <a href="{% url 'products' %}?category=black_tea" class="dropdown-item">Black</a>
                <a href="{% url 'products' %}?category=white_tea" class="dropdown-item">White</a>
                <a href="{% url 'products' %}?category=other_tea" class="dropdown-item">Other</a>
                <a href="{% url 'products' %}?category=black_tea,white_tea,other_tea" class="dropdown-item">All Tea</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="coffee-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="coffee-link">
                <a href="{% url 'products' %}?category=medium_coffee" class="dropdown-item">Medium</a>
                <a href="{% url 'products' %}?category=dark_coffee" class="dropdown-item">Dark</a>
                <a href="{% url 'products' %}?category=light_coffee" class="dropdown-item">Light</a>
                <a href="{% url 'products' %}?category=medium_coffee,dark_coffee,light_coffee" class="dropdown-item">All Coffee</a>
            </div>
        </li>

    </ul>
</div>