{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h2 class="page-heading">{{ product.name }}</h2>
            <!-- image -->
            <div class="col-12 col-md-6">
                <div class="image-container"> 
                    {% if product.image %}   
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{{ MEDIA_URL }}noimage.jpg" target="_blank">
                        <img class="card-img" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <!-- price, category, description and rating -->
            <div class="col-12 col-md-6">
                <div class="product-details-container">
                    <h3>Product Information</h3>
                    <p>Price: £{{ product.price }}</p>
                    {% if product.rating %}
                        <p>Rating: {{ product.rating }}/5 ({{ product.numberofratings }}  reviews)</p>
                    {% else %}
                        <p>No Rating: -/5 (0 reviews)</p>
                    {% endif %}
                    <p>Category: <a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a></p>
                    <p>{{ product.description }}</p>
                </div>
                <!-- form to add products to the shoopping bag -->
                <h3>Purchase Product</h3>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <!-- type - one off or subscription -->
                    <div class="input-field col s12">
                        <label>Select type and quantity:</label>
                        <select name="type-quantity" >
                          <optgroup label="Subscribe">
                            <option value="subscribe-monthly">Subscription (Monthly)</option>
                          </optgroup>
                          <optgroup label="one-off">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                          </optgroup>
                        </select>
                    </div>
                    <!-- add to bag or back to products -->
                    <div class="col-12">
                        <a href="{% url 'products' %}"><button type="button" class="back-to-products text-uppercase">Back to products</button></a>
                        <input type="submit" class="rounded-0 text-uppercase add-to-bag" value="Add to Bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}