{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<h2 class="page-heading">Products</h2>
<div class="container-fluid">
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 products-col">
            <div class="card">
                <div class="card-image">
                    <a href="{% url 'product_detail' product.id %}" target="_blank">
                        <span class="card-title1">{{ product.name }}</span>
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>    
                </div>
                <div class="card-content">
                  <p>£{{ product.price }}</p>
                  <p>Rating: {{ product.rating }}/5 ({{ product.numberofratings }})</p>
                </div>
                <a href="#">Add Now</a>
                <div class="card-action">
                  <a href="#">Edit</a>
                  <a href="#">Delete</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}