{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h2 class="page-heading">{{ product.name }}</h2>
            <div class="col-12 col-md-6">
                <div class="image-container my-5">    
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="product-details-container mb-5 mt-md-5">
                    <p>£{{ product.price }}</p>
                    <p>Rating: {{ product.rating }}/5 ({{ product.numberofratings }})</p>
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}